In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
x = 5
y = 223
c = 9
d = 133
e = 19
f = 203

In [13]:
x + y + d

160

In [14]:
float(x * y - c)

101.0

In [15]:
d / e * x

35.0

In [16]:
e // x

3

In [17]:
def oddNumber(num):
    return num%2 != 0

In [18]:
oddNumber(c)

True

In [19]:
def equalNum(num1, num2):
    return num1 == num2

In [20]:
elem_lst = [x, y, 63, c, d, 404, 99, 11]
elem_lst

[5, 22, 63, 9, 133, 404, 99, 11]

In [21]:
new_lst = elem_lst + [1, 2, 3, 3, 5, 11, 85, 33] 
new_lst

[5, 22, 63, 9, 133, 404, 99, 11, 1, 2, 3, 3, 5, 11, 85, 33]

In [24]:
new_set = set(new_lst)
new_set

{1, 2, 3, 5, 9, 11, 22, 33, 63, 85, 99, 133, 404}

In [25]:
new_lst.sort()
new_lst

[1, 2, 3, 3, 5, 5, 9, 11, 11, 22, 33, 63, 85, 99, 133, 404]

In [27]:
for i in new_lst:
    print(f"{i} is a really great number!")

1 is a really great number!
2 is a really great number!
3 is a really great number!
3 is a really great number!
5 is a really great number!
5 is a really great number!
9 is a really great number!
11 is a really great number!
11 is a really great number!
22 is a really great number!
33 is a really great number!
63 is a really great number!
85 is a really great number!
99 is a really great number!
133 is a really great number!
404 is a really great number!

In [30]:
newDict = {'Hello':57, 10: True, "newList": [1,2,5,10,8]}
newDict.get('newList', 0)

[1, 2, 5, 10, 8]

In [31]:
for key, value in newDict.items():
    print(f"{key} ------- {value}")

Hello ------- 57
10 ------- True
newList ------- [1, 2, 5, 10, 8]

In [44]:
def print_num(num):
    """This function prints range of numbers"""
    for i in range(num):
        print(i)
print_num(7)

0
1
2
3
4
5
6

In [46]:
print_num.__doc__

'This function prints range of numbers'

In [48]:
class Student:
    def __init__(self, grade, teacher):
        self.grade = grade
        self.teacher = teacher
    def showTeacher(self):
        return self.teacher.upper()

In [50]:
stud = Student(5, "Mrs. Smith")
stud

In [51]:
stud.showTeacher()

'MRS. SMITH'

In [52]:
isinstance(stud, Student)

True

In [53]:
class John(Student):
    def __init__(self, grade, teacher):
        super().__init__(grade, teacher)

In [55]:
john = John(1, "Doe")
john.showTeacher()

'DOE'

In [58]:
newTuple = (1, 45, 55, 8)
type(newTuple)

tuple

In [61]:
def num_sum(*arg):
    sum = 0
    for i in arg:
        sum += int(i)
    print(f"the sum is {sum}")
num_sum(4, 12, 8552, 33, 55)

the sum is 8656

In [62]:
def search_dict(**kwargs):
    for key, value in kwargs.items():
        print(f"Key is {key}, value is {value}")

new_search = search_dict(name="John", surname="Smith", age=23)
new_search

Key is name, value is John
Key is surname, value is Smith
Key is age, value is 23

In [64]:
even_nums = [i for i in range(23) if i%2 == 0]
even_nums

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [67]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
squared

[1, 4, 9, 16, 25]

In [ ]:
with open('example.txt', 'r') as file:
    file.read('Hello, world!')

In [72]:
numbers = [0, 1, 2, 3, 4, 5]
word = "Python"

print(numbers[1:4]) 
print(numbers[::2])  
print(numbers[::-1])  
print(word[1:4])

[1, 2, 3]
[0, 2, 4]
[5, 4, 3, 2, 1, 0]
yth

In [1]:
a, b, c = [1, 2, 3]
print(a, b, c)  

first, *rest = [1, 2, 3, 4, 5]
print(first)  
print(rest)  

x, y = 5, 10
x, y = y, x
print(x, y)

1 2 3
1
[2, 3, 4, 5]
10 5

In [3]:
fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)  

message = "Hello, World!"
print('z' in message)     

person = {'name': 'Alice', 'age': 30}
print('name' in person)   

colors = {'red', 'green', 'blue'}
print('green' in colors)

True
False
True
True

In [1]:
print(bool(0))          
print(bool(""))         
print(bool([]))         
print(bool(()))        
print(bool({}))       
print(bool(None))

False
False
False
False
False
False

In [1]:
squares = {x: x**2 for x in range(10)}
print(squares)  

even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
print(even_squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [1]:
print(len("Python"))  

print(len([1, 3, 4, 5])) 

print(len((1, 2, 3)))  

print(len({'a': 1, 'b': 2, 'c': 3})) 

print(len({1, 2, 3}))

6
4
3
3
3

In [1]:
text = "   Hello, World   "
print(text.strip())  

greeting = "Hello, WORLD!"
print(greeting.lower())  

message = "hello, world!"
print(message.upper())

Hello, World
hello, world!
HELLO, WORLD!

In [3]:
fruits = ['apple', 'banana', 'cherry']
print(', '.join(fruits))  

words = ["Python", "is", "awesome"]
print(' '.join(words))    

chars = ['H', 'e', 'l', 'l', 'o']
print(''.join(chars))

apple, banana, cherry
Python is awesome
Hello

In [3]:
for i in range(0, 9, 2):
    print(i)  
    
print(list(range(4)))  

for i in range(5, 0, -1):
    print(i)

0
2
4
6
8
[0, 1, 2, 3]
5
4
3
2
1

In [1]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 33, 35]

for name, age in zip(names, ages):
    print(f"{name} is {age} years old!")
    
name_age_dict = dict(zip(names, ages))
print(name_age_dict)

Alice is 25 years old!
Bob is 33 years old!
Charlie is 35 years old!
{'Alice': 25, 'Bob': 33, 'Charlie': 35}

In [1]:
numbers = [1, 0, 2, 0, 3]
print(any(numbers))  
print(any([0, 0, 0]))  

print(all(numbers))  
print(all([1, 2, 3]))  

bools = [True, True, False]
print(any(bools))   
print(all(bools))

True
False
False
True
True
False

In [3]:
fruits = ['apple', 'banana', 'cherry']
for count, fruit in enumerate(fruits, start=1):
    print(f"Fruit #{count}: {fruit}")

Fruit #1: apple
Fruit #2: banana
Fruit #3: cherry

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person = Person("Alice", 25)
print(getattr(person, 'name')) 
print(getattr(person, 'age'))   
print(getattr(person, 'height', 'Not specified'))

Alice
25
Not specified

In [5]:
pi = 3.14159
print(f"Pi rounded to two decimal places: {pi:.2f}")

Pi rounded to two decimal places: 3.14

In [2]:
my_list = [1, 2, 3, 4]

del my_list[1:3]  
print(my_list) 

my_dict = {'a': 1, 'b': 2, 'c': 4}
del my_dict['b']
print(my_dict)  

x = 10
del x

class Example:
    def __init__(self):
        self.value = 105

obj = Example()
del obj.value

[1, 4]
{'a': 1, 'c': 4}

In [1]:
x = 5
y = "Hello!"
z = [1, 2, 3]

print(isinstance(x, str))    
print(isinstance(z, list)) 

print(isinstance(x, (float, int)))  
print(isinstance(y, (str, list)))

False
True
True
True

In [ ]:
def empty_function():
    pass  

class EmptyClass:
    pass

if some_condition:
    pass  
else:
    print("Condition not met!")