In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
x = 5
y = 22
c = 9
d = 132
e = 15
f = 20

In [13]:
x + y + d

359

In [14]:
float(x * y - c)

1101.0

In [16]:
d / e * x

44.0

In [17]:
e // x

3

In [18]:
def oddNumber(num):
    return num%2 != 0

In [19]:
oddNumber(c)

True

In [20]:
def equalNum(num1, num2):
    return num1 == num2

In [23]:
elem_lst = [x, y, 63, c, d, e, 44, 99, 11]
elem_lst

[5, 222, 63, 9, 132, 15, 44, 99]

In [24]:
new_lst = elem_lst + [1, 2, 3, 3, 5, 11, 85] 
new_lst

[5, 222, 63, 9, 132, 15, 44, 99, 1, 2, 3, 3, 5, 11, 85]

In [27]:
new_set = set(new_lst)
new_set

{1, 2, 3, 5, 9, 11, 15, 44, 63, 85, 99, 132, 222}

In [19]:
new_lst.sort()
new_lst

[1, 2, 3, 3, 5, 5, 7, 9, 11, 15, 44, 85, 132]

In [21]:
for i in new_lst:
    print(f"{i} is a really great number!")

1 is a really great number!
2 is a really great number!
3 is a really great number!
3 is a really great number!
5 is a really great number!
5 is a really great number!
7 is a really great number!
9 is a really great number!
11 is a really great number!
15 is a really great number!
44 is a really great number!
85 is a really great number!
132 is a really great number!

In [3]:
newDict = {'Hello':57, 10: True, "newList": [1,2,5,10,8]}
newDict.get('newList', 0)

[1, 2, 5, 10, 8]

In [5]:
for key, value in newDict.items():
    print(f"{key} ------- {value}")

Hello ------- 57
10 ------- True
newList ------- [1, 2, 5, 10, 8]

In [3]:
def print_num(num):
    """This function prints range of numbers"""
    for i in range(num):
        print(i)
print_num(7)

0
1
2
3
4
5
6

In [22]:
print_num.__doc__

'This function prints range of numbers'

In [40]:
class Student:
    def __init__(self, grade, teacher):
        self.grade = grade
        self.teacher = teacher
    def showTeacher(self):
        return self.teacher.upper()

In [42]:
stud = Student(5, "Mrs. Smith")
stud

In [44]:
stud.showTeacher()

'MRS. SMITH'

In [46]:
isinstance(stud, Student)

True

In [48]:
class John(Student):
    def __init__(self, grade, teacher):
        super().__init__(grade, teacher)

In [50]:
john = John(1, "Doe")
john.showTeacher()

'DOE'

In [52]:
newTuple = (1, 45, 55, 8)
type(newTuple)

tuple

In [3]:
def num_sum(*arg):
    sum = 0
    for i in arg:
        sum += int(i)
    print(f"the sum is {sum}")
num_sum(4, 12, 8552, 33, 55)

the sum is 8656

In [9]:
def search_dict(**kwargs):
    for key, value in kwargs.items():
        print(f"Key is {key}, value is {value}")

new_search = search_dict(name="John", surname="Smith", age=23)
new_search

Key is name, value is John
Key is surname, value is Smith
Key is age, value is 23

In [1]:
even_nums = [i for i in range(23) if i%2 == 0]
even_nums

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [3]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
squared

[1, 4, 9, 16, 25]